<h1>Atualização de vinculamento de livros a autores</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <div class="field">
    <label>Título</label>
    <input type="text" name="titulo" placeholder="titulo" />
  </div>
  <div class="field">
    <%= form.label :author_id, 'Autor' %>
    <%= form.collection_select :author_id, Author.all, :id, :name, prompt: 'Selecione um autor' %>
  </div>
  <div class="actions">
    <%= form.submit 'Atualizar' %>
  </div>
<% end %>